@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body, html{
    width:100%;
    height:100%;
}

.conteiner{
    max-width: 966px;
    min-height: 100%;
    background: #F0F0F0;
    margin: 0 auto;
    padding: 30px;
}

/*Шапка начало*/
.contentheader{

}

.logo{
    display: inline-block;
    margin-right:40px;
}

.textheader{
    font-family: 'Monotype Corsiva';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;

    background: linear-gradient(180deg, #293F52 0%, #4F7B9E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    margin-right:30px;
}

.search{
    width: 136px;
    height: 21px;

    border: 1px solid rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border-radius: 4px;
    margin-left:70px;
}

.basket{
    margin: 0px 10px 5px 10px;
}

#authorizationmargin{
    margin:0;
}
/*Шапка конец*/

/*Товары(главная) начало*/
.tovar{
    margin:10px;
    display:inline-block;
    text-align:center;
    padding:5px;
    width: 108px;
    background:white;
}

.tovartexttittle{
    height:50px;
}

.tovartext{
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    background: linear-gradient(180deg, #293F52 0%, #4F7B9E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.image{
    width: 92px;
    height: 95px;
}

.tovarbutton{
    width: 98px;
    height: 25px;
    background: linear-gradient(180deg, #293F51 0%, #4F7B9E 100%);
    border:none;
    border-radius: 3px;
    color:white;
    font-weight:bold;
}
/*Товары(главная) конец*/

/*Доставка начало*/
.content{
    max-width: 798px;
    margin: 0 auto;
    padding-top:30px;
}

.deliverytext{
    text-align: justify;
}

.map{
    display: block;
    margin: 50px auto 0 auto;
    border: 2px solid #476f8e;
    border-radius: 20px;
    width:800px;
    height:600px;
}
/*Доставка конец*/

/*Вход и регистрация начало*/
.enter{
    position: absolute;
    left:50%;
    top:50%;
    overflow: auto;
    transform: translate(-50%, -50%);
    width: 396px;
    height: 337px;
    background: #F0F0F0;
    border-radius: 10px;
}

.registr{
    position:absolute;
    width: 396px;
    height: 540px;
    left:50%;
    top:50%;
    overflow: auto;
    transform: translate(-50%, -50%);
    background: #F0F0F0;
    border-radius: 10px;
}

.displayblock{
    display:block;
    margin:0 auto;
}

.textfamily{
    font-family: 'Lobster', cursive;
    text-align:center;
    margin-top: 10px;
}

.textmarginleft{
    margin-left:70px;
}

.buttonstyle{
    width: 160px;
    height: 29px;
    background: linear-gradient(180deg, #293F51 0%, #4F7B9E 100%);
    border:none;
    border-radius: 3px;
    color:white;
    font-weight:bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputstyle{
    width: 256px;
    height: 25px;
    border: 1px solid;
    border-radius: 5px;
    text-align:none;
}

.return{
    width:30px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
/*Вход и регистрация конец*/

/*Подвал начало*/
.podval{
    margin:0 auto;
    padding:30px;
    max-width: 966px;
    height: 189px;
    background: linear-gradient(180deg, rgba(45, 70, 90, 0.9) 0%, rgba(75, 117, 150, 0.9) 100%);
}

.podvaltext{
    display: inline-table;
    margin: 0 150px 0 0;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color:white;
}
/*Подвал конец*/

