{% extends 'main/layout.html' %}

{% block title %}Доставка{% endblock %}

{% block content %}
<div class="content">
    <p class="deliverytext">
        Доставка осуществляется только в пределах зоны доставки. Время приёма заказов на доставку (время работы организации): с 10:00 до 23:00 (за исключением КСК, где заказы принимаются с 11:00 до 22:00). Мы работаем без перерывов и выходных.
        <br>
        <br>
        Телефон доставки: 8(800)-255-35-35.
        <br>
        Минимальная сумма заказа: 550 рублей.
    </p>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2453.8219608765494!2d113.482259215975!3d52.04655547895907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5dca356828b00bd5%3A0xa29e39ba4388777!2z0YPQuy4g0JHQsNCx0YPRiNC60LjQvdCwLCAxMjgsINCn0LjRgtCwLCDQl9Cw0LHQsNC50LrQsNC70YzRgdC60LjQuSDQutGA0LDQuSwgNjcyMDAw!5e0!3m2!1sru!2sru!4v1651302201462!5m2!1sru!2sru" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock %}